<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
        <mapping class="entity.EmployeeEntity" />
        <mapping class="entity.AdministrateurEntity" />
        <mapping class="entity.EtudiantEntity" />
        <mapping class="entity.SalleEntity" />
        <mapping class="entity.ReclamationEntity" />
        <mapping class="entity.DocumentEntity" />
        <mapping class="entity.PlaintEntity" />
        <mapping class="entity.ReservationEntity" />
    </session-factory>
</hibernate-configuration>